spring-boot-soap-ws-client/src/main/resources/wsdl/loanEligibility.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.nandithmalapati.com/spring/soap/api/loanEligibility"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.nandithmalapati.com/spring/soap/api/loanEligibility"
	targetNamespace="http://www.nandithmalapati.com/spring/soap/api/loanEligibility">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.nandithmalapati.com/spring/soap/api/loanEligibility">
			<element name="CustomerRequest">
				<complexType>
					<sequence>
						<element name="customerName" type="string" />
						<element name="age" type="int" />
						<element name="yearlyIncome" type="long" />
						<element name="creditScore" type="int" />
						<element name="employmentMode" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="Acknowledgement">
				<complexType>
					<sequence>
						<element name="isEligible" type="boolean" />
						<element name="approvedAmount" type="long" />
						<element maxOccurs="unbounded" name="CriteriaMismatch"
							type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="CustomerRequest">
		<wsdl:part element="tns:CustomerRequest"
			name="CustomerRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoanEligibilityIndicator">
		<wsdl:operation name="Customer">
			<wsdl:input message="tns:CustomerRequest"
				name="CustomerRequest">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoanEligibilityIndicatorSoap11"
		type="tns:LoanEligibilityIndicator">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Customer">
			<soap:operation soapAction="" />
			<wsdl:input name="CustomerRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoanEligibilityIndicatorService">
		<wsdl:port binding="tns:LoanEligibilityIndicatorSoap11"
			name="LoanEligibilityIndicatorSoap11">
			<soap:address location="http://localhost:8555/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>